@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap'); 
/* Importa a fonte "Kdam Thmor Pro" do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');

* {
    margin: 0; /* Remove o espaço padrão em volta de todos os elementos */
    padding: 0; /* Remove o preenchimento padrão dentro de todos os elementos */
    list-style: none; /* Remove os marcadores de listas (bolinhas, números) */
    text-decoration: none; /* Remove sublinhados de links */  
    
}

body {
    background: linear-gradient(to right, #5a7d1f, #8b6b3f);    

}

header {
    height: 90px; /* Define a altura do cabeçalho */
    display: flex; /* Usa o sistema flexível para organizar o conteúdo do cabeçalho */
    justify-content: space-around; /* Distribui o espaço igualmente entre os itens */
    align-items: center; /* Alinha os itens ao centro na vertical */
}

nav {
    width: 80%; /* Define a largura do menu de navegação */
}

ul {
    display: flex; /* Usa o sistema flexível para organizar a lista */
    width: 100%; /* Define a lista para ocupar 100% da largura do contêiner pai */
    justify-content: space-between; /* Distribui os itens da lista igualmente */
}

li {
    list-style: none; /* Remove os marcadores de lista (bolinhas, números) */
    color: aliceblue; /* Define a cor do texto como azul claro */
    cursor: pointer; /* Muda o cursor para "mãozinha" ao passar sobre o item */
    font-size: 40px; /* Define o tamanho da fonte do texto */
    transition: .5s; /* Adiciona uma transição suave de 0.5 segundos nas mudanças */
    font-family: "Matemasie", sans-serif;
}

li:hover {
    color: #d21617; /* Muda a cor do texto para vermelho ao passar o mouse */
} 

#logo {
    width: 100px; /* Define a largura da imagem do logotipo */
    height: auto; /* Ajusta a altura proporcionalmente à largura */
    background-position: 50% 50%;
    margin-right: 10px;
    position: relative;
    z-index: 1;
    margin-top: 10px;
    background: none;
}

.content {
    height: 600px;
    width: 450px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.content .slide img {
    height: 100%;  /* Ajusta a altura da imagem proporcionalmente */
    width: 100%;   /* Ajusta a largura da imagem proporcionalmente */
    max-height: 100%;  /* Limita a altura da imagem ao máximo permitido pelo contêiner */
    max-width: 100%;   /* Limita a largura da imagem ao máximo permitido pelo contêiner */
    display: block;    /* Garante que a imagem seja tratada como um bloco centralizado */
    object-fit: cover; /* Mantém a proporção da imagem e cobre toda a área disponível */
}

.navigation {
    position: absolute;
    bottom: -300px;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
}

.bar {
    width: 15px;
    height: 15px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 15px;
    cursor: pointer;
    transform: .5s ease;

}

.bar:hover {
    background-color: white;
}

input {
    display: none;
}

.slides {
    display: flex;
    width: 1000%;
    height: 100%;
}

.slide {
    width: 10%;
    transition: .6s;
    flex-shrink: 0;  /* Garante que os slides não se comprimam */
}

#slide0:checked ~ .s0 {
    margin-left: 0;
}

#slide1:checked ~ .s0 {
    margin-left: -10%;
}

#slide2:checked ~ .s0 {
    margin-left: -20%;
}

#slide3:checked ~ .s0 {
    margin-left: -30%;
}

#slide4:checked ~ .s0 {
    margin-left: -40%;
}

#slide5:checked ~ .s0 {
    margin-left: -50%;
}

#slide6:checked ~ .s0 {
    margin-left: -60%;
}

#slide7:checked ~ .s0 {
    margin-left: -70%;
}

#slide8:checked ~ .s0 {
    margin-left: -80%;
}

#slide9:checked ~ .s0 {
    margin-left: -90%;
}
    footer {
    width: 100%; /* Define a largura do container do footer */
    height: 300px; /* Ajusta a altura do footer */
    background-image: url('./midias/bannerfinal-removebg-preview.png'); /* Caminho da imagem */
    background-size: 50%; /* Redimensiona a imagem para a largura do container */
    background-position: center top; /* Centraliza a imagem na parte superior */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    display: flex; /* Utiliza flexbox para posicionamento */
    flex-direction: column; /* Organiza itens em coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Alinha o span ao final */
    margin-top: 800px;     
    }

    span {
    color: #fff;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-size: 10px;
    margin: 0; /* Coloca o span ao final do container */
    }


    @media (max-width: 480px) {

        #logo {
            width: 10%;
            position: relative;
        }
    
        header {
            padding: 1%; /* Adiciona padding para melhorar o espaçamento */
        }
    
        nav {
            width: 90%; /* O menu ocupa toda a largura */
        }
    
        ul {
            flex-direction: row; /* Alinha os itens verticalmente */
            align-items: center; /* Centraliza os itens */
            justify-content: space-around; /* Distribui os itens igualmente com espaço ao redor */
        }
    
        li {
            font-size: 18px; /* Diminui o tamanho da fonte em telas menores */
            padding: 0px; /* Adiciona espaçamento interno */
        }
    
        .content {
            top: 43%;
            width: 80%; /* Ajusta a largura do carrossel em telas médias */
            height: 400px; /* Ajusta a altura para ser dinâmica */
        }
    
        .content .slide img {
            height: 100%;  /* Ajusta a altura da imagem proporcionalmente */
            width: 100%;   /* Ajusta a largura da imagem proporcionalmente */
            max-height: 100%;  /* Limita a altura da imagem ao máximo permitido pelo contêiner */
            max-width: 100%;   /* Limita a largura da imagem ao máximo permitido pelo contêiner */
            display: block;    /* Garante que a imagem seja tratada como um bloco centralizado */
            object-fit: cover; /* Mantém a proporção da imagem e cobre toda a área disponível */
            
        }
    
        .navigation {
            bottom: 120px; /* Ajusta a posição dos botões de navegação */
        }

        .bar {
            height: 11px;
            width: 11px;
        }

        footer {
            height: 200px; /* Reduz a altura em telas menores */
            background-size: 70%; /* Ajusta o tamanho da imagem */
        }
        
        span {
            font-size: 8px; /* Ajusta o tamanho da fonte */
        }
    }
    
    @media (max-width: 768px) {

        #logo {
            width: 10%;
            position: relative;
        }
    
        header {
            padding: 1%; /* Adiciona padding para melhorar o espaçamento */
        }
    
        nav {
            width: 90%; /* O menu ocupa toda a largura */
        }
    
        ul {
            flex-direction: row; /* Alinha os itens verticalmente */
            align-items: center; /* Centraliza os itens */
            justify-content: space-around; /* Distribui os itens igualmente com espaço ao redor */
        }
    
        li {
            font-size: 18px; /* Diminui o tamanho da fonte em telas menores */
            padding: 0px; /* Adiciona espaçamento interno */
        }
    
        .content {
            top: 43%;
            width: 80%; /* Ajusta a largura do carrossel em telas médias */
            height: 400px; /* Ajusta a altura para ser dinâmica */
        }
    
        .content .slide img {
            height: 100%;  /* Ajusta a altura da imagem proporcionalmente */
            width: 100%;   /* Ajusta a largura da imagem proporcionalmente */
            max-height: 100%;  /* Limita a altura da imagem ao máximo permitido pelo contêiner */
            max-width: 100%;   /* Limita a largura da imagem ao máximo permitido pelo contêiner */
            display: block;    /* Garante que a imagem seja tratada como um bloco centralizado */
            object-fit: cover; /* Mantém a proporção da imagem e cobre toda a área disponível */
            
        }
    
        .navigation {
            bottom: 120px; /* Ajusta a posição dos botões de navegação */
        }

        .bar {
            height: 11px;
            width: 11px;
        }
        
        footer {
            height: 200px; /* Reduz a altura em telas menores */
            background-size: 70%; /* Ajusta o tamanho da imagem */
        }
        
        span {
            font-size: 8px; /* Ajusta o tamanho da fonte */
        }

    }
    @media (max-width: 1024px) {
        
        #logo {
            width: 10%;
            position: relative;
        }
    
        header {
            padding: 1%; /* Adiciona padding para melhorar o espaçamento */
        }
    
        nav {
            width: 90%; /* O menu ocupa toda a largura */
        }
    
        ul {
            flex-direction: row; /* Alinha os itens verticalmente */
            align-items: center; /* Centraliza os itens */
            justify-content: space-around; /* Distribui os itens igualmente com espaço ao redor */
        }
    
        li {
            font-size: 18px; /* Diminui o tamanho da fonte em telas menores */
            padding: 0px; /* Adiciona espaçamento interno */
        }
    
        .content {
            top: 350px;
            width: 340px; /* Ajusta a largura do carrossel em telas médias */
            height: 470px; /* Ajusta a altura para ser dinâmica */
        }
    
        .content .slide img {
            height: 100%;  /* Ajusta a altura da imagem proporcionalmente */
            width: 100%;   /* Ajusta a largura da imagem proporcionalmente */
            max-height: 100%;  /* Limita a altura da imagem ao máximo permitido pelo contêiner */
            max-width: 100%;   /* Limita a largura da imagem ao máximo permitido pelo contêiner */
            display: block;    /* Garante que a imagem seja tratada como um bloco centralizado */
            object-fit: cover; /* Mantém a proporção da imagem e cobre toda a área disponível */
            
        }
    
        .navigation {
            display: none;
        }
 
        footer {
            height: 100px; /* Garante que a altura do footer se ajuste ao conteúdo */
            padding: 0; /* Remove qualquer padding */
            margin-top: 520px;
        }
    
        span {
            margin: 0; /* Garante que não há margem */
            padding: 0; /* Remove qualquer padding no span */
            font-size: 5px;
            margin-top: 140px;
        }
    } 
